body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#ms-word-page {
    position:absolute;
    top: 0;
    bottom:32px;
    width:100%;
    margin: 0;
    padding: 0;
}

#ms-status-bar {
}

#ms-paper {
    background: #ADA69C;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
}

/* MOBILE */
@media (pointer: coarse){
    #clippy, #vert-ruler, #main-menu, #draw-bar {
        display: none;
    }
    #ms-paper {
        width: 100%;
    }
    .a4-paper {
        margin-left: 20%;
        font-size: 2.3vw;
    }
    #ms-word-page .title-bar {
        height: 64px;
    }
    #ms-word-page .title-bar .title-bar-controls button {
        height: 48px;
        margin-right: 15px;
    }
}

/* COMPUTER */
@media (pointer: fine), (pointer: none){
    #ms-paper {
        width: 90%;
    }
    #clippy {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: end;
    }
    .a4-paper {
        font-size: 1.5vw;
    }
   #ms-word-page .title-bar {
        height: 32px;
    }
}

#paper-ruler #vert-ruler {
    max-height: calc(1754px + 1%);
    min-height: 658px;
    width: 32px;
}

.a4-paper {
    box-sizing: border-box;
    background-color: white;
    max-height: 1754px;
    min-height: 658px;
    max-width: 1240px;
    min-width: 465px;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 1px solid black;
    box-shadow: 4px 2px #262626;
    padding-left: 1in;
    padding-right: 1in;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#main-menu .status-bar{
    border-bottom: none;
    box-shadow: none;
}

.vertical_separator {
    border-left: 1px solid #b4b1a3;
    height: 32px;
    margin: 0 2px;
}

.icon {
    margin: 0 4px;
    padding: 0;
}

.horizontal_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.horizontal_flex_start {
    display: flex; flex-direction: row; align-items: flex-start; margin: 0; padding: 0;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu-bar p{
    margin: 0 10px 0 10px;
    font-size: 13px;
}

.ruler {
    --ruler-num-c: #282828; /*#888;*/
    --ruler-num-fz: 10px;
    --ruler-num-pi: 0.75ch;
    --ruler-unit: 1in;
    --ruler-x: 1;
    --ruler-y: 1;

    --ruler1-bdw: 1px;
    --ruler1-c: #bbbbbb; /*#BBB;*/
    --ruler1-h: 8px;
    --ruler1-space: 0.125;

    --ruler2-bdw: 1px;
    --ruler2-c:  #727272;
    --ruler2-h: 20px;
    --ruler2-space: 0.5;
}

/* Ruler Numbers */
.ruler-x,
.ruler-y {
    color: var(--ruler-num-c);
    counter-reset: d -1;
    display: flex;
    font-size: var(--ruler-num-fz);
    line-height: 1;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.ruler-x {
    height: var(--ruler2-h);
    /*inset-block-start: 0;
    inset-inline-start: 100px; /*calc(var(--ruler-unit) * var(--ruler2-space));*/
    opacity: var(--ruler-x);
    width: 100%;
    background-image:
            linear-gradient(80deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
            linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0);
    background-position: calc(0.5in + 2px) 5px;
    background-repeat: repeat-x, repeat-x;
    background-size: 0.125in 8px, 1in 20px;
    /*calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-x)) var(--ruler1-h),
    calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-x)) var(--ruler2-h),*/
}

.ruler-y {
    flex-direction: column;
    height: 100%;
    /*inset-block-start: calc(var(--ruler-unit) * var(--ruler2-space));
    inset-inline-start: 0;*/
    opacity: var(--ruler-y);
    width: var(--ruler2-h);
    background-image:
    linear-gradient(350deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
    linear-gradient(0deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0);
    background-position: 5px calc(0.5in + 4px);
    background-repeat: repeat-y, repeat-y;

    background-size:
            var(--ruler1-h) calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-y)),
            var(--ruler2-h) calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-y) * 2);
}

.ruler-x li div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ruler-y li div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ruler-x li div,
.ruler-y li div {
    counter-increment: d calc(var(--ruler2-space) * 2);
    flex: 0 0 calc(var(--ruler-unit) * var(--ruler2-space) * 2);
}
.ruler-x li div::after {
    content: counter(d)"";
    /*line-height: 1;
    padding-inline-start: 0; /*var(--ruler-num-pi);*/
}
.ruler-y li div::after {
    content: counter(d)"";
    /*display: block;
    padding-inline-end: var(--ruler-num-pi);
    transform: rotate(-90deg) translateY(-13px);
    transform-origin: 100% 0;
    text-align: end;
    width: 100%;*/
}