#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: black;
}

@font-face {
    font-family: "NeueHaasGrotesk";
    src: url("../../../assets/fonts/Neue-Haas-Grotesk/NHaasGroteskTXPro-55Rg.ttf") format("truetype"),
    url("../../../assets/fonts/Neue-Haas-Grotesk/NHaasGroteskTXPro-55Rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html {
    overflow-y: clip;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #000;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: clip;
}

body header {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-height: 250px;
    height: 30vw;
    max-width: 1200px;
    min-width: 500px;
    font-size: max(.78vh, .78vw);
}


.funghi {
    height: 100%;
    width: 15%;
    z-index: -1;
    background-image: url("../assets/cordyceps_side.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.artCordy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artCordy a {
    text-decoration: none;
    color: #11F7F3;
}

.artCordy img {
    opacity: 0;
    transition: opacity 0.2s;
}

.artCordy p {
    transition: all 0.2s;
    text-shadow: 0 5px 5px black;
    padding: 0;
    margin: 0;
    text-align: center;
}

.artCordy:hover a {
    text-decoration: underline;
}

.artCordy:hover img {
    opacity: 1;
    filter: drop-shadow(0 5px 5px #4C11F7);
}

.artCordy:hover p {
    text-shadow: #4C11F7 0 5px 5px;
}

#content {
    height: 85%;
    /*background-color: rgba(10, 10, 10, 0.2);*/
    text-align: justify-all;
    padding: 20px;
    font-family: "NeueHaasGrotesk", sans-serif;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#content a {
    text-decoration: underline;
    color: #B1CEFB;
}

#title {
    /*background-image: url("../assets/cordyceps.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;*/
    text-align: center;
}

#central {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

/* MOBILE */
@media (pointer: coarse), (max-width: 750px){
    .funghi {
        background-position: 70% center;
    }
    #central {
        width: 100%;
    }
    #content {
        width: 80%;
        padding-bottom: 200px;
    }
    #content img {
        max-width: 100%;
    }
    #title {
        width: 80%;
        height: 10%;
    }
}

/* COMPUTER */
@media (pointer: fine) and (min-width: 750px), (pointer: none) and (min-width: 750px){
    .funghi {}
    #central {
        width: 80%;
        margin: 0 auto;
    }
    #content {
        width: 60%;
    }
    #content img {
        max-width: 80%;
    }
    #title {
        width: 60%;
        height: 15%;
    }
}

*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}